<% (1..25).map(&:humanize).each do |day| %>
  <div class="flex flex-col mt-16 ml-8 align-center" data-controller="day-<%=day%>">
    <h1 class="text-lg text-gray-900">Day <%=day.capitalize%></h1>

    <input class="mt-8" type="file" data-day-<%=day%>-target="file">
    <div class="flex flex-row mt-8 items-center">
      <button class="btn p-4 bg-green-500 rounded" data-action="click->day-<%=day%>#partOneSolve" data-day-<%=day%>-target="partOneSolve">Solve Part One</button>
      <div class="ml-8 text-green-500" data-day-<%=day%>-target="partOneSolution"></div>
    </div>
    <div class="flex flex-row mt-8 items-center">
      <button class="btn p-4 bg-green-500 rounded" data-action="click->day-<%=day%>#partTwoSolve" data-day-one-target="partTwoSolve">Solve Part Two</button>
      <div class="ml-8 text-green-500" data-day-<%=day%>-target="partTwoSolution"></div>
    </div>
  </div>
<% end %>