<!DOCTYPE html>
<html>
  <head>
    <title>Aoc20Stimulus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="text-xl text-gray-900 justify-center flex mt-12">Advent of Code 2020 JS Solutions</div>
    <div class="flex flex-wrap">
      <%= yield %>
    </div>
  </body>
</html>
